.TaskFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .TaskForm {
    display: flex;
    align-items: center;
  }
  
  .TaskInput {
    width: 300px;
    padding: 8px;
    margin-right: 10px; 
    border-radius: 20%;
}
  
  .TaskSubmitButton {
    background-color: #86d7e6;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .TaskSubmitButton:hover {
    background-color: #45a049;
  }
  
  .TaskError {
    color: red;
    margin-top: 10px;
  }